.mapContainer {
  height: calc(100vh - 48px);
}

.map {
  width: 400px;
  height: 100%;
}

.btnGroup {
  position: absolute;
  z-index: 1000;
  top: calc(48px + 20px);
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: 90%;
}

.btnGroup button {
  background-color: var(--white);
  border: 1px solid var(--gray-300);
}

.btnGroup button .active {
  background-color: var(--blue-main) !important;
}
